<div class="search-area">
  <p>
    <mat-form-field class="buscar" appearance="fill">
      <mat-label>Procurar</mat-label>
      <input matInput #searchInput/>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </p>
  <div *ngIf="resultado$ | async as resultado">
    <mat-card class="resultado">
      <mat-card-header>
        <mat-card-title>Resultado da busca: </mat-card-title>
      </mat-card-header>
      <div class="cartaoBusca">
        <div>
          <p class="titulo">Ícones CDD</p>
          <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
            <mat-icon class="mat-18" >{{ resultado._idGenero | pipes }}</mat-icon>
          </button>
          </div>
        <div>
          <p class="titulo">Nome do Genero</p>
          <p>{{ resultado.nomeGenero}}</p>
        </div>
        <div>
          <p class="titulo">Fator Decimal</p>
          <p>{{ resultado.decimalGenero }}</p>
        </div>
      </div>
    </mat-card>
  </div>
<mat-card>
  <div *ngIf=" livrosGeneros$ | async as livrosGeneros; else loading;">
    <mat-toolbar color="accent">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Menu</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <table mat-table [dataSource]="livrosGeneros" class="mat-elevation-z8">

      <!-- Icone Genero-->
      <ng-container matColumnDef="_idGenero">
        <th mat-header-cell *matHeaderCellDef>Ícones</th>
        <td mat-cell *matCellDef="let generos">
          <div class="example-button-container">
            <button class="iconeCdd" mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
              <mat-icon>{{ generos._idGenero | pipes}}</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <!-- Nome do Genero -->
      <ng-container matColumnDef="nomeGenero">
        <th mat-header-cell *matHeaderCellDef> Nome do Gênero </th>
        <td mat-cell *matCellDef="let generos"> {{ generos.nomeGenero }} </td>
      </ng-container>

      <!-- Decimal Genero -->
      <ng-container matColumnDef="decimalGenero">
        <th mat-header-cell *matHeaderCellDef> Fator Decimal </th>
        <td mat-cell *matCellDef="let generos"> {{ generos.decimalGenero }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="visaoColunas"></tr>
      <tr mat-row *matRowDef="let row; columns: visaoColunas;"></tr>
    </table>
  </div>
  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>
