<mat-card class="example-card">
  <img mat-card-avatar *ngIf="usuario$ | async as usuario" [src]="usuario.photoURL" alt="foto de perfil">
  <hr/>
  <mat-nav-list *ngFor="let itemPerfil of itensPerfil$ | async; index as i">
    <h1 mat-list-item *ngIf="itemPerfil.habP === true">{{itemPerfil.labelMenu}} do Usuário</h1>
  </mat-nav-list>
  <mat-card>
    <h2 class="mat-h2" *ngIf="usuario$ | async as usuario">Bem vindo de volta {{ usuario.displayName }}!</h2>
    <h4>
      Este é o seu perfil principal.
    </h4>
  </mat-card>
  <mat-card>
    <mat-card-title *ngIf="usuario$ | async as usuario">Seu Email: {{usuario.email}}</mat-card-title>
  </mat-card>
</mat-card>
