<div class="grid-container">
  <mat-grid-list cols="2">
    <h1 class="mat-h1" *ngIf="usuario$ | async as usuario">
      Sugestões de Livros
    </h1>
    <!-- GRID 1 -->
    <mat-grid-tile
      *ngFor="let listaLivrosSugestoes of listaLivrosSugestoes$ | async"
    >
      <!-- CARD 1 -->
      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>{{ listaLivrosSugestoes.titulo }}</mat-card-title>
          <mat-card-subtitle>listaLivrosSugestoes.autor</mat-card-subtitle>
          <img
            width="250px"
            mat-card-xl-image
            src="{{ listaLivrosSugestoes.img }}"
          />
        </mat-card-title-group>
        <mat-card-content>
          {{ listaLivrosSugestoes.sinopse }}
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
