mat-grid-list{
  button{
    margin: 10px;
  }
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
}
mat-form-field{
  margin: 1%;
}
.inicio, .cadastrar {
  size: 2rem;
}
