<mat-grid-list cols="1" [rowHeight]="'100px'" [gutterSize]="'1px'">
  <mat-grid-tile [colspan]="1" [rowspan]="1">Cadastro no BookShelf</mat-grid-tile>
  <form [formGroup]="formularioCadastro" (ngSubmit)="enviaCadastro()">
    <mat-card>
      <img mat-card-image src="../../assets/imagens/cover2.png" alt="Cover do Cadastro de Usuários">
      <mat-stepper #stepper>
        <mat-step [stepControl]="formularioCadastro" errorMessage="Será necessário seu nome.">
          <form [formGroup]="formularioCadastro">
            <ng-template matStepLabel>Preencha com seu Nome</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Nome</mat-label>
              <input matInput placeholder="Nome" formControlName="nome" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Avançar</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="formularioCadastro" errorMessage="Será necessário informar um e-mail.">
          <form [formGroup]="formularioCadastro">
            <ng-template matStepLabel>Preencha com seu e-mail</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="*****@gmail.com" formControlName="email"
                     required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious><mat-icon class="mat-18">arrow_back</mat-icon></button>
              <button mat-button matStepperNext><mat-icon class="mat-18">arrow_forward</mat-icon></button>
            </div>
          </form>
        </mat-step>
          <mat-step [stepControl]="formularioCadastro" errorMessage="Será necessário uma senha.">
            <form [formGroup]="formularioCadastro">
              <ng-template matStepLabel>Preencha com sua Senha</ng-template>
              <mat-form-field appearance="fill">
                <mat-label>Senha</mat-label>
                <input type="password" matInput placeholder="Senha" formControlName="senha" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious><mat-icon class="mat-18">arrow_back</mat-icon></button>
                <button mat-button matStepperNext><mat-icon class="mat-18">arrow_forward</mat-icon></button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="formularioCadastro" errorMessage="Será necessário confirmar senha.">
            <form [formGroup]="formularioCadastro">
              <ng-template matStepLabel>Confirmar Senha</ng-template>
              <mat-form-field appearance="fill">
                <mat-label>Confirmar Senha</mat-label>
                <input type="password" matInput placeholder="Senha" formControlName="confirmaSenha" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious><mat-icon class="mat-18">arrow_back</mat-icon></button>
                <button mat-button matStepperNext><mat-icon class="mat-18">arrow_forward</mat-icon></button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="formularioCadastro" errorMessage="Será necessário adicionar a URL da foto">
            <form [formGroup]="formularioCadastro">
              <ng-template matStepLabel>Url Foto</ng-template>
              <mat-form-field appearance="fill">
                <mat-label>Url Foto</mat-label>
                <input  matInput placeholder="Insira a URL da sua foto" formControlName="urlFoto" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious><mat-icon class="mat-18">arrow_back</mat-icon></button>
                <button mat-button matStepperNext><mat-icon class="mat-18">arrow_forward</mat-icon></button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Feito</ng-template>
            <h3 *ngIf="formularioCadastro.valid">Clique em cadastrar.</h3>
            <div>
              <button class="inicio" color="accent" mat-button *ngIf="!formularioCadastro.valid" (click)="stepper.reset()">Início</button>
              <p *ngIf="!formularioCadastro.valid">Por gentileza, verifique os dados informados.</p>
            </div>
          </mat-step>
      </mat-stepper>
      <mat-card-footer>
        <button class="cadastrar" mat-button color="accent" type="submit" *ngIf="formularioCadastro.valid">Cadastrar</button>
      </mat-card-footer>
    </mat-card>
  </form>
</mat-grid-list>
