.grid-container {
  margin: 20px;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.noticias-card {
  position: absolute;
  top: 15px;
  left: 35px;
  right: 35px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.noticias-card-content {
  text-align: center;
}

img {
  height: 600px;
}
