<h1>WiKi: BookShelf v1</h1>
<mat-tab-group dynamicHeight>
  <mat-tab label="Como se cadastrar">
    <div class="example-large-box mat-elevation-z4">
      <h1>Como se cadastrar</h1>
      <mat-card class="cards">
        <mat-card-content>
          <div>
              <div>
                <img mat-card-image src="../../assets/imagens/Passo a passo cadastro.png" alt="Passo a passo cadastro">
              </div>
            <h3>Como se cadastrar</h3>
            <ol>
              <li>Preencher o campo <b>Nome</b>  e clicar em <b>avançar</b>; </li>
              <li>Preencher o campo <b>E-mail</b>  e clicar em <b>avançar</b>;</li>
              <li>Preencher o campo <b>Senha</b>  e clicar em <b>avançar</b>; <i><u>(<b>Obs.:</b> A senha deve ter no mínimo 8 dígitos.)</u></i></li>
              <li>Preencher o campo <b>Confirmar senha</b>  e clicar em <b>avançar</b>;</li>
              <li>Preencher o campo <b>URL Foto</b>  e clicar em <b>avançar</b>;</li><i><u><b>(Exemplo.:</b> http://localhost:4200/assets/imagens/ShelfBook.png)</u></i>
              <li>Clicar em  <b>Cadastrar</b> para finalizar o cadastro</li>
            </ol>
            <button mat-button color="accent"  routerLink="/">Ir para Cadastrar</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  
</mat-tab-group>







